/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
.ic-float-left{float:left;font-size: 10pt;}
.ic-float-right{float:right;font-size: 10pt;}
.ic-navigator-class{font-size: 10pt;cursor: pointer;float:right;}
.ic-rtl-dashboard-text{line-height:30px;font-size: 13pt;direction:rtl;text-align:right;word-wrap: break-word;font-weight: bold;}
.ic-ltr-dashboard-text{direction:ltr;text-align:left;word-wrap: break-word;font-weight: bold; }
.persian{list-style-type: persian;margin-right: 8%;}
.amharic{list-style-type: amharic}
.arabic-indic{list-style-type: arabic-indic;margin-right: 8%;}
.bengali{list-style-type: bengali}
.disc{list-style-type: disc;margin-right: 8%;}
.lower-norwegian{list-style-type: lower-norwegian}
.malayalam{list-style-type: malayalam;margin-right: 8%;}
.somali{list-style-type: somali;margin-right: 8%;}
.thai{list-style-type: thai}
.decimal{list-style-type: decimal}
.urdu{list-style-type: urdu;margin-right: 8%;margin-left: 1em;}
.ic-small-text {font-size: 12px;}
#ic-online-dictionary-link{cursor:pointer;float:left;}
#division-number{display:none;}
.ic-hidden{display:none;}
.section-padding{padding-bottom:10px;height:20px;}
.ic-audio-control{padding-right:20px;width:50%;max-height:35px;float:left;}
.ic-sura-heading{font-size: 10pt;font-weight: bold;}
#division_number_box{width:60px;}
